/* admin.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

main {
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.logo img {
    width: 80px;
    height: auto;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

.nav-container {
    display: flex;
    justify-content: center; /* Центрируем навигацию */
    flex-grow: 1; /* Позволяет навигации занимать все свободное пространство */
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-links li {
	
    position: relative;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 10px;
	margin-right: 40px;
    border-radius: 5px;
}

.nav-links li a:hover {
    color: #007bff;
    background-color: #e9e9e9;
}

.nav-links .dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0; 
    z-index: 1;
}

.nav-links .dropdown li {
    display: block;
    padding: 8px 16px; /* Добавлен отступ слева и справа для элементов li внутри выпадающего списка */
}

.nav-links .dropdown li:hover {
    background-color: #f1f1f1;
}

.nav-links li:hover > .dropdown {
    display: block;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: #007bff;
    color: #ffffff;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

.hero-image {
    text-align: center;
    padding: 50px 0;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content-section {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    background-color: #f5f5f5;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.content-section p {
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555;
}

footer {
    background-color: #333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.footer-text {
    font-size: 14px;
}

/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #fff;
}

/* Стили для кнопок действий */
.action-btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 5px;
}

.action-btn:hover {
    background-color: #0056b3;
}

/* Стили для выпадающего списка фильтров */
.users-filter {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.users-filter:hover .dropdown-content {
    display: block;
}

.users-filter:hover .dropdown-btn {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column; /* Меняем направление flex-контейнера на вертикальное */
        align-items: flex-start; /* Выравниваем элементы по левому краю */
    }

    .logo {
        margin-bottom: 10px; /* Добавляем отступ снизу для логотипа */
    }

    .nav-container {
        width: 100%; /* Делаем навигацию на всю ширину */
    }

    .nav-links {
        display: none; /* Скрываем навигацию по умолчанию */
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative; /* Убираем абсолютное позиционирование */
        top: 0; /* Убираем сдвиг вверх */
        left: 0; /* Убираем сдвиг влево */
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    /* Дополнительные стили для мобильной навигации */
    .nav-active {
        display: flex;
    }
}