<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
	<script src="/static/js/render.js"></script>
</head>
<body>
    <!-- Навігаційна панель -->
    <nav>
        <div class="logo">
            <a href="{% url 'guest' %}" id="logo-link">
                <img src="/static/png/logo1.png" alt="Logo" id="logo">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'guest' %}">Головна</a></li>
            <li><a href="{% url 'about' %}">Про Нас</a></li>
            <li><a href="{% url 'contacts' %}">Контакти</a></li>
        </ul>
        <div class="auth-buttons">
            <button class="login" onclick="redirectToLogin()">Вхід</button>
            <button class="register" onclick="redirectToRegister()">Реєстрація</button>
        </div>
    </nav>

    <!-- Заголовок-->
    <header>
        <h1>{{ page_title }}</h1>
    </header>

    <!-- Основний вміст сторінки -->
    <main>
	    {% if show_content == 'index_main' %}
            <div class="hero-image">
                <img src="{{ image_url }}" alt="Auto School">
            </div>
        {% elif show_content == 'about_main' %}
            {{ about_content|linebreaksbr }}
        {% elif show_content == 'contacts_main' %}
            {{ contacts_content|linebreaksbr }}
        {% endif %}
    </main>

    <!-- Підвал -->
    <footer>
        <div class="footer-logo">
            <img src="/static/png/footer.png" alt="Footer Logo">
        </div>
        <div class="footer-text">Powered by Potebnia Dmytro © 2024</div>
    </footer>
</body>
</html>